@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-cover">
    <div class="home-content">
        <h1 class="display-4"><span class="rec">rec</span>ordBox</h1>
        <p>Keeping track of your record collection.</p>
    </div>
</div>
